body {
	background: white;
}

#spel {
	background-color: #0ABEFA;
	width:500px;
	padding:40px;
	margin:50px;
	border-color:black;
}

/*.tile {
	background-color: green;

}*/

#spel {
	border: 1px solid blue;
	padding: 2px;
}
