/*    Main CSS file    */
/*Massa css här test */

.farga{
	background-color:#337ab7;
}


/* THOMAS SAYS
   NEVER EVER OVERRIDE BOOTSTRAPS OWN CLASSES!!!

.img-responsive{

	max-width: 600%;
	height: auto;
	display: block;
}
`*/

.scale-brand-img {
	height:20px;
}

.you{
	width:100%;
	
}

h3{
	font-size: 20;
	font-family:Times;
	font-weight: 10;
	color: blue;
}

btn-primary{

}

.navbar-nav{
	background-color:#337ab7;
}

.pull-right{
    float: right !important;
}
.you{
	width: 100%;
}

img {
  /* THOMAS SAYS:
     NEVER EVER SET A RULE LIKE THIS FOR ALL IMAGES
     (YOU WILL AFFECT THE WORK OF EVERYONE TRYING TO USE IMAGES)
     CREATE YOUR OWN CLASS FOR SUCH A RULE
     AND ADD IT TO IMAGES WHEN NEEDED	
  width: 100%;
  */
}

a:active {
	color:none;
	text-decoration: none;
}

a:hover {

    color:blue;
    background-color: transparent;
    text-decoration: none;

}


.rules {
	background-color: #324DE6;
	color: black;
	padding: 20px;
}

.center{
	padding-left: 9%;
	padding-right: 9%;


}

@media (min-width: 992px) {
  .center{
  		padding-right: 15%;
  		padding-left: 20%;
  }


  }

  /*footer{
  	margin-top: 8%;
  }*/

 

 html {
  position: relative;
  min-height: 100%;
}

body {
  
  margin-bottom: 120px;
}


.farga a {
	color:white;
}


footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
}


@media screen and (max-width: 969px) {

    body {
      margin-bottom:300px;
    }

    footer {
      height: 280px;
    }

}

