/*    Main CSS file    */
/*Massa css här test */

.blue{
	background-color:#f4f441; !important;
}
.img-responsive{

	max-width: 600%;
	height: auto;
	display: block;
}
h3{
	font-size: 20;
	font-family:Times;
	font-weight: 10;
	color: blue;
}

btn-primary{


}


.navbar-nav{

	background-color:#f4f441;
}

.pull-right{

    float: right !important;

}