



.kant{
 border: 1px;
 border-color: #02010D;
 color:#1F0F4A;
 background-color: #2914B3;
padding-top: 10px;
 align-items: center;
 position: relative;
 padding-right: 10%;
 padding-left:  10%;
 margin-bottom: 10px;
 
}
.white-and-round {
	background-color: #F3F2F7;
	width: 40px;
	height: 40px;
	padding: 10px;
	padding-right: 20px;
	padding-left: 20px;
	margin-right: 20px;
	margin-right: 20px;
	border-radius: 50px;
	box-shadow: 10px 10px 5px #1E1D26 ;
	
}
.jumbotron{
	box-shadow: 10px 10px 5px #1E1D26 ;
}
.player{
	height: 40%;
	width: 60%
	background-color: white;
}