

@media (max-width: 768px) {
  .kant .player  {
    
    padding-left: 0%;
    padding-right: 0%;
  }
}
@media (min-width: 768px) {
  .white-and-round  {

  	width: 50px !important;
  	height: 50px !important;
    
    padding-left: 0%;
    padding-right: 0%;
  }
}
@media (min-width: 992px) {
 .white-and-round  {

  	width: 55px !important;
  	height: 55px !important;
    
   padding-right: 10%;
 	padding-left:  10%;
 	margin-right: 10px;
  }
}
@media (min-width: 1200px) {
  .white-and-round  {

  	width: 60px !important;
  	height: 60px !important;
    
    padding-right: 10%;
 	padding-left:  10%;
 	margin-right: 10px;
  }
}


.kant{
 border: 1px;
 border-color: #02010D;
 color:#1F0F4A;
 background-color: #2914B3;
padding-top: 10px;
 align-items: center;
 position: relative;
 
 margin-bottom: 10px;
 
}
.white-and-round {
	background-color: #F3F2F7;
	width: 40px;
	height: 40px;
	padding: 10px;
	padding-right: 10px;
	padding-left: 10px;
	margin-right: 20px;
	border-radius: 50px;
	box-shadow: 10px 10px 5px #1E1D26 ;
	
}
.jumbotron{
	box-shadow: 10px 10px 5px #1E1D26 ;
}
.player{
	height: 40%;
	width: 60%
	background-color: white;
	
}
.well {
	box-shadow: 10px 10px 5px #1E1D26 ;
}