<div class="page" id="faq">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>Hur man spelar?</h3>
                <h4>För att göra en rad med fyra skivor i rad horisontellt , vertikalt eller diagonalt. Spelkonsol med bas, 21 röda skivor och 21 gröna diskar, instruktioner. Montera ramen och basen och placera konsolen mellan spelarna.</h4>
                <div class="col-xs-4">
                    <div class="col-xs-12">
                        <img src="img/Connect_Four.gif">
                    </div>
                </div>
                <div class="col-xs-12">
                    <h3>Kan jag installera det här spelet från App Stores?</h3>
                    <h4>Nej,inte just nu.</h4>
                    <h3> Kan detta spel inkluderar fler än två spelare?</h3>
                    <h4>Det här spelet kan spelas av två spelare minimum.If du vill välja en eller flera spelare då de spelar som partner.</h4>
                    <h3>Lämna gärna dina frågor här</h3>
                    <div class="col-md-12">
                        <input type = "text" placeholder = "Enter your Queries" name = "Quest">
                        <br></br>
                        <a href="#"><input type="submit" name="dsubmit" id="commentSubmit" value="Skicka förfrågan"></a>
                        <input style="width: 30px" type="checkbox" value="1" name="subscribe" id="subscribe" checked="checked">
                        <p1><b>Meddela mig för nya fråga.</b></p1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
