<footer class="container-fluid bg-primary">
    <div class="row">
      <div class="col-md-4">
        <h4>Adress</h4>
        <p>M채lardalsv채gen 21</p>
        <p>312 22 Sm책stad</p>
      </div>

      <div class="col-md-4">
        <h4>E-post</h4>
        <p>info@fourinarow.se</p>
        <p>support@fourinarow.se</p>
      </div>

      <div class="col-md-4">
        <h4>Telefon</h4>
        <p>Hj채lpDesk: 095-12 34 56</p>
        <p>Service: 096-13 14 15</p>
      </div>
    </div>
</footer>
