<title>4 I Rad</title>

<!--    Bootstrap, jQuery and other assets
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="http://www.google.com/jsapi" ></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="lib/bootstrap/js/bootstrap.js"></script>-->
<script src="lib/jquery.js"></script>
<script src="lib/bootstrap/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">

<!--    CSS document link    -->
<link rel="stylesheet" type="text/css" href="css/main.css">
<link rel="stylesheet" type="text/css" href="css/spelPlan.css">
<!--<link rel="stylesheet" type="text/css" href="css/styles.min.css" >-->

<!--    JS document link
<script src="js/games/4irad/highScoreClass.js"></script> -->
<script src="js/games/4irad/playerClass.js"></script>
<script src="js/games/4irad/ljud.js"></script>
<script src="js/games/4irad/coinAnimation.js"></script>
<script src="js/games/4irad/game.js"></script>
<script src="js/games/4irad/cancle.js"></script>
<script src="js/forms.js"></script>
<script src="js/staticScripts.js"></script>

<!--    Meta page settings    -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
