<!--    Page title for tab    -->
<title>4iRad - Index</title>

<!--    Mayer reset    -->
<link rel="stylesheet" type="text/css" href="/lib/mayerReset.css">

<!--    Bootstrap, jQuery and other assets    -->
<script src="/lib/jquery.js"></script>
<script src="/lib/bootstrap/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="/lib/bootstrap/css/bootstrap.min.css">

<!--    CSS document link    -->
<link rel="stylesheet" type="text/css" href="/css/main.css">

<!--    JS document link    -->
<script src="/js/staticScripts.js"></script>

<!--    Meta page settings    -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
