<div class="page" id="highscore">
    <div class="container" >
        <div class="row kant">
            <div class="col-xs-12 col-md-12">
                <h2 class="centerText gold">Topplista</h2>
                <div id="hs"></div>
            </div>
        </div>
    </div>
</div>
