<div class="page" id="home">
    <div class="container">
        <div class="row">
            <div class="col-xs-8 noPadding">
                <img class="center-block" src="img/image1.jpg" style="width:100%">
            </div>
            <!--<br></br>-->
            <div class="col-xs-4">
                <form>
                    <div class="form-group">
                        <label for="inputUsername" class="control-label">AnvändareNamn</label>

                        <input type="text" class="form-control" id="inputUsername" placeholder="AnvändareNamn">
                    </div>

                    <div class="form-group">
                        <label for="inputEmail" class="control-label">Epost</label>

                        <input type="email" class="form-control" id="inputEmail" placeholder="Epost">
                    </div>

                    <div class="form-group">
                        <label for="inputPassword" class="control-label">Lösenord</label>

                        <input type="password" class="form-control" id="inputPassword" placeholder="Lösenord">
                    </div>

                    <button class="btn btn-primary btn-lg noPadding" type="spela" id="Reg">Register</button>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4">
                <a href="https://www.miniclip.com/games/agar-io/en/" class="utanstrek">
                    <h1>Agar.io</h1>

                    <p>Agario är ett spel inom genren casual game och action.</p>

                    <img src="img/icee.jpg" alt="imgs/icee.jpg" class="you img-rounded">
                </a>
            </div>

            <div class="col-sm-4">
                <a href="http://www.games-4-free.com/elvenar/?c=2840">
                    <h1>Elvenar</h1>

                    <p>Elvenar är en stad-byggnad strategi MMO där spelare hantera resurser och utbildning upp en armé för att växa en stor ny imperium.</p>

                    <img src="img/elv1.jpg" alt="imgs/elv1.jpg" class="you img-rounded">
                </a>
            </div>

            <div class="col-sm-4">
                <a href="https://www.miniclip.com/games/ice-temple/en/#t-w-c-H">
                    <h1>Ice Empire</h1>
                    <p>The Ice Temple, förde en gratis online äventyrsspel till dig av Armor Games. Hjälp FireBoy och Watergirl i detta nya äventyr! kontroll både</p>
                    <img src="img/ice1.jpg" alt="imgs/ice1.jpg" class="you img-circle">
                </a>
            </div>
        </div>
    </div><!-- end of container -->
</div> <!-- #home ends here -->
