<div class="page" id="log">
    <div class="container">
        <div class="row">
            <div class="col-xs-8 noPadding">
            <img class="center-block" src="img/log.jpg" style="width:100%">
            </div>
            <br></br>
            <div class="col-xs-4">
                <form id="loginForm" name="loginForm" method="post">
                    <div id="loginForm-msg" class="">
                    </div>
                    <div class="form-group">
                        <label for="username" class="control-label">Användarnamn:</label>

                        <input type="text" class="form-control" id="username" name="username" placeholder="Användarnamn">
                    </div>

                    <div class="form-group">
                        <label for="passoword" class="control-label">Lösenord:</label>

                        <input type="password" class="form-control" id="password" name="password" placeholder="Lösenord">
                    </div>

                    <input class="btn btn-primary btn-lg noPadding" type="submit" name="login" value="Logga in!">
                </form>
            </div>
        </div>
    </div>
</div>
