<div class="page" id="log">
    <div class="container">
        <div class="row">
            <div class="col-xs-8 noPadding">
            <img class="center-block" src="img/log.jpg" style="width:100%">
            </div>
            <br></br>
            <div class="col-xs-4">
                <form>
                    <div class="form-group">
                        <label for="inputUsername" class="control-label">AnvändareNamn/Epost</label>
                        <input type="text" class="form-control" id="inputUsername" placeholder="AnvändareNamn/Epost">
                    </div>

                    <div class="form-group">
                        <label for="inputPassword" class="control-label">Lösenord</label>
                        <input type="password" class="form-control" id="inputPassword" placeholder="Lösenord">
                    </div>

                    <button class="btn btn-primary btn-lg noPadding" type="spela" id="login">Login</button>
                    <button class="btn btn-primary btn-lg noPadding" type="spela" id="logout">Logout</button>
                </form>
            </div>
        </div>
    </div>
</div>
