<div class="page" id="play">
    <div class="container" >
        <div class="row kant">
            <div class="col-xs-8 col-md-6">
                <div id="Bord"></div>
                <div class="padding">
                <button class="btn btn-primary" id="restart">Spel igen</button>
                </div>
                <div class="padding">
                    <button class="btn btn-primary" id="cancel">Avbryt spelet</button> <button class="btn btn-primary" id="pause">Stoppa musiken</button>
                </div>
            </div>
            <div class="col-xs-4 col-md-6 player">
            <div id="p1" class="well-sm floatright ">
            <h5 >Spelare1</h5>
            <p> Coins left:</p>
            </div>
            <div id="p2" class="well-sm floatright">
            <h5>Spelare2</h5>
            <p> Coins left:</p>
            </div>
            </div>
        </div>
    </div>
</div>
