<div class="page" id="rules">
    <div class="row">
        <div class="col-md-8">
            <div class="jumbotron">
                <h1>Regler</h1>

                <ul style="list-style-type: square;">
                    <p><li>Du får placera dina marker vertikalt,horisiontellt eller diagnoalt!</li></p>

                    <p><li>• Välj en färg av de två färgerna ( grön och röd).</li></p>

                    <p><li>• Lägg i första markern i vilken öppning som helst på spelbrädet.</li></p>

                    <p><li>• Spelarna turas om att placera 1 marker per drag.</li></p>

                    <p><li>•Försök sätta en vinnande rad, samtidigt som du hindrar motspelaren från att vinna.</li></p>

                    <p><li>• Första spelaren som placerar fyra marker i rad vinner.</li></p>
        
                </ul>
            </div>
        </div>

        <div class="col-md-4">
            <a href="#" class="thumbnail">
                <img src="img/4irad.jpg" class="img-responsive 4irad-img">
            </a>
        </div>

        <div class="col-md-4">
            <a href="#" class="thumbnail">
                <img src="img/fyra-1.jpg" class="img-responsive 4row-img">
            </a>
        </div>
    </div>
</div>
