<div class="page" id="spel">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
            <img src="img/images.jpg" class="center-block img-responsive">
            </div>
        </div>

        <div class="row">
            <div class="col-md-5">
            </div>
            <div class="col-md-2">
                <form>
                    <div class="form-group">
                        <label>Spelare 1:</label>
                        <input type="text" name="Spelare1" class="form-control" id="Player1">
                    </div>
                    <div class="form-group">
                        <label>Spelare 2:</label>
                        <input type="text" name="Spelare2" class="form-control" id="Player2">
                    </div>
                    <div class="form-group">
                        <select id="selectedVal">
                            <option value="Spelare på samma dator">Spelare på samma dator</option>
                            <option value="Spelare på annan dator">Spelare på annan dator</option>
                            <option value="Dator">Spela mot datorn</option>
                        </select>
                    </div>
                    <input type="button"id="startBtn"  name="submit" class="btn btn-danger" value="Start">
                </form>
            </div>
            <div class="col-xs-12" style="height: 91px"></div>
        </div>
    </div>
</div><!-- Här slutar spel -->
