<!DOCTYPE html>
<html>
	<head>
		<% include ./assets/partials/head %>
	</head>

	<body>
		<% include ./assets/partials/navbar %>

		<main>
			<% include ./assets/partials/home %>

			<% include ./assets/partials/login %>

			<% include ./assets/partials/start %>

			<% include ./assets/partials/play %>

			<% include ./assets/partials/rules %>

			<% include ./assets/partials/highscore %>

			<% include ./assets/partials/faq %>

			<% include ./assets/partials/modal %>
		</main>

		<% include ./assets/partials/footer %>
	</body>
</html>
