<!DOCTYPE html>
<html>

	<head>
		<!--    Page title for tab    -->
		<title>Spel</title>

		<!--    Bootstrap, jQuery and other assets    -->
		<script src="assets/lib/jquery.js"></script>
		<script src="assets/lib/bootstrap/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="assets/lib/bootstrap/css/bootstrap.min.css">

		<!--    CSS document link    -->
		<link rel="stylesheet" type="text/css" href="assets/css/main.css">
    	<link rel="stylesheet" type="text/css" href="assets/css/spelPlan.css">

		<!--    JS document link    -->
		<script src="assets/js/staticScripts.js"></script>
    <script src="assets/js/games/4irad/playerClass.js"></script>
    <script src="assets/js/games/4irad/coinAnimation.js"></script>
		<script src="assets/js/games/4irad/game.js"></script>


		<!--    Meta page settings    -->
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	</head>

	<body>

		<h1>Spel</h1>

		<header class="container">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">4irad</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li ><a href="index.html">4iRad <span class="sr-only">(current)</span></a></li>
            <li class="active"><a href="spel.html">Spel</a></li>
            <li><a href="#">Spelregler</a></li>
            <li><a href="#">HighScore</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  </header>

 <main class="container">
    <div class="row kant">
      <div class="col-xs-12">
        <div id="Bord"></div>
      </div>
    </div>
  </main>
        
        <div class="row">
         <div class="col-xs-10 col-md-10 player">
              <div id="p1" class="well floatleft ">
                <h2 >Player1</h2>
                 <p> Coins left:</p>
              </div>
              <div id="p2" class="well floatleft">
                <h2>Player2</h2>
                <p> Coins left:</p>
              </div>

	          </div>
	        </div>
		</div>

         

               
          </div>
          </div>
     </main>
	</body>

</html>
