<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml/DTD/xhtml-transitional.dtd">
<html>

	<head>
		<!--    Page title for tab    -->
		<title>4iRad - template</title>

		<!--    Bootstrap, jQuery and other assets    -->
		<script src="assets/lib/jquery.js"></script>
		<script src="assets/lib/bootstrap/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="assets/lib/bootstrap/css/bootstrap.min.css">

		<!--    CSS document link    -->
		<link rel="stylesheet" type="text/css" href="assets/css/main.css">

		<!--    JS document link    -->
		<script src="assets/js/staticScripts.js"></script>

		<!--    Meta page settings    -->
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	</head>

	<body>

		<h1>Index</h1>

	</body>

</html>
