.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
}

.row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

img {
    width: 100%;
    margin-bottom: 20px;
}

.placeHolder {
    width: 90%;
    margin: 0 auto;
    clear: both;
}

.noPadding {
    padding: 0;
}

.noMargin {
    margin: 0;
}

/*html, body {
    height: 100%;
}
main {
    min-height: 90vh;
    margin: 0 auto;
}

footer, .push {
    height: 70px;
    text-align: center;
}

footer {
}*/

html {
  height: 100%;
  box-sizing: border-box;
}

*, *:before, *:after
{
  box-sizing: inherit;
}

body
{
	position: relative;
	margin: 0 auto;
	padding-bottom: 60px;
	clear: both;
	min-height: 100%;
}

main {
    margin-bottom: 20px;
}

footer
{
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	height: 80px;
	text-align: center;
    padding: 0;
}

footer p
{
    padding-top: 10px;
	padding-bottom: 0;
}

.ph {
    margin-top: 50px;
}
